@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

.App {
  text-align: center;
}
.text-dark-md {
  color: #2b2b2b;
  font-weight: 500;
  font-size: 18px;
}
.text-light {
  color: #969696;
}
.bkg-dark {
  background-color: #2b2b2b;
}
.bkg-light {
  background-color: #969696;
}
.btn {
  margin: 2px;
}
.leftbtn {
  float: left;
}
.rightbtn {
  float: right;
}
tbody {
  font-size: 18px;
}
form {
  font-size: 18px;
  font-weight: 500;
  color: #2b2b2b;
}
