@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

.App {
  text-align: center;
}

.btn {
  margin: 2px;
}
.leftbtn {
  float: left;
}
.rightbtn {
  float: right;
}

thead {
  background-color: #969696;
  color: #2b2b2b;
  font-size: 18px;
  font-weight: 500;
}

tbody {
  font-size: 18px;
}
form {
  font-size: 18px;
  font-weight: 500;
  color: #2b2b2b;
}
