@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

.text-primary-p {
  color: #2b2b2b;
  font-size: 14px;
  font-weight: 700;
}

.font-bold {
  font-weight: 700;
}
.font-normal {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.text-title {
  color: 2b2b2b;
}

.light-color {
  color: #969696;
}
